# ignore third-party libraries, so that super-linter doesn't fail with JAVASCRIPT_ES
assets/uls/src/jquery.uls.core.js
assets/uls/src/jquery.uls.data.js
assets/uls/src/jquery.uls.languagefilter.js
