# ignore 3rd party libraries, so that prettier doesn't change them or super-linter fails with CSS_PRETTIER, JAVASCRIPT_ES, JAVASCRIPT_PRETTIER, JSON_PRETTIER, MARKDOWN_PRETTIER
assets/uls/src/jquery.uls.core.js
assets/uls/src/jquery.uls.data.js
assets/uls/src/jquery.uls.languagefilter.js