#disable temporary and log files and dirs
/cache/*
!/cache/.htaccess
/log/*
!/log/.htaccess
/.composer-cache
.*.cache
/.sass-cache/
/.tmp/

#disable private local files
*.local.*

#disable composer-managed libraries
/vendor/
#disable composer lock file
/composer.lock

#disable IDE files
/nbproject/
/.idea/

#disable image win/mac auxiliary files
thumbs.db
__MACOSX/
