#disable temporary and log files and dirs
/cache/*
!/cache/.htaccess
/log/*
!/log/.htaccess
/.sass-cache/
/.php_cs.cache
/.php-cs-fixer.cache
/.phpunit.result.cache

#disable private local files
*.local.php

#disable composer-managed libraries
/vendor/
#disable composer lock file
/composer.lock

#disable IDE files
/nbproject/
/.idea/

#disable image win/mac auxiliary files
thumbs.db
__MACOSX/
