<!doctype html>{* expected variables: $csrfToken *}
<html>
    <head>
        <title>{$title ?? 'Powered by Seablast'}</title>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
        {if $configuration->flag->status('I18n:SHOW_LANGUAGE_SELECTOR')}
            {include '../../../../vendor/seablast/i18n/views/uls.css.latte'}
        {/if}
        <style>
            body {
                font-family: 'Lato', sans-serif;
                margin: 0;
                padding: 0;
                color: #333;
            }

            header {
                background-color: #f8f8f8;
                padding: 10px 0;
            }

            nav ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                text-align: center;
            }

            nav li {
                display: inline;
                margin-right: 20px;
            }

            nav a {
                text-decoration: none;
                color: #333;
            }

            footer {
                background-color: #f8f8f8;
                text-align: center;
                padding: 20px 0;
            }

            #hamburger-menu {
                display: none;
                cursor: pointer;
            }

            @media (max-width: 600px) {
                #hamburger-menu {
                    display: block;
                }

                nav ul {
                    display: none;
                }
            }
        </style>
    </head>
    <body>
        <script>
            const API_BASE = {$configuration->getString('SB_APP_ROOT_ABSOLUTE_URL')};
            const csrfToken = {$csrfToken};{* id:sb_json *}
            const flags = [{var $selectedFlags = ['I18n:SHOW_LANGUAGE_SELECTOR',]}
                {foreach $selectedFlags as $selected}{if $configuration->flag->status($selected)}{$selected},{/if}{/foreach}
            ];
        </script>
        <header>
            <nav>
                {include 'inherite.latte', latte => 'nav.latte'}
            </nav>
        </header>
        {*<div id="banner-container"></div>*}
        <main>
            {block mainblock}{/block}
        </main>

        <footer>
            {include 'inherite.latte', latte => 'footer.latte'}
        </footer>
        {if $configuration->flag->status('I18n:SHOW_LANGUAGE_SELECTOR')}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
            {include '../../../../vendor/seablast/i18n/views/uls.js.latte'}
        {/if}
        {block script}{/block} {* Note: content of block script MUST use <script></script> *}
    </body>
</html>
