<!DOCTYPE html>{* template expected by SeablastView for errors *}{* TODO: improve this template *}
<html>
    <head>
        <title>A Seablast error page</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
        <style>
            body {
                font-family: 'Roboto', sans-serif;
                background-color: #f4f4f4;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                color: #333;
            }

            .container {
                text-align: center;
                padding: 40px;
                background: white;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
            }

            h1 {
                color: #007bff;
                font-weight: 400;
            }

            p {
                font-size: 18px;
                font-weight: 300;
                margin-top: 10px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <p>Ooops, došlo k chybě...</p>
        </div>
    </body>
</html>

