{* template latte where app version should be used instead of library version *}
{* TODO: improve this template *}
{layout 'BlueprintWeb.latte'}
{block mainblock}
    <div>
INHERITED ITEM
    </div>
{/block}
