parameters:
    level: 9
    excludePaths:
        analyseAndScan:
            - ../cache/*
        analyse:
          - ../vendor
    bootstrapFiles:
      - ../defineAppDir.php
    scanDirectories:
      - ../src
    # as PHPStan 2.0 reports other things than 1.x
    reportUnmatchedIgnoredErrors: false
    #tips:
    #    treatPhpDocTypesAsCertain: false
