{* template latte where app version should be used instead of library version *}
{* TODO: improve this template *}
{layout 'BlueprintWeb.latte'}
{block mainblock}
    Latte template which uses
1) variable $menu = array of labels (Content, User management, Language, Logout) and links to generate horizontal menu;
2) variable $content = array of database tables to generate vertical menu;
3) variable $table = array of 10 rows and 6 columns (id, date, language, code, text, active) to be displayed as table.
{/block}
